.form__button {
  width: 200px;
  font-family: "Inter-Black";
  border-radius: 10px;
  font-size: 30px;
  margin: 30px 0 0;
  color: #fff;
  background-color: #07223a;
  overflow: hidden;
  border: transparent;
  align-self: center;
  padding: 15px 0 15px;
  margin-bottom: 15px;
}

.form__button:hover {
  opacity: .6;
  cursor: pointer;
}

.form__button_inactive {
  background-color: transparent;
  border: 1px solid rgb(138, 138, 138);
  color: rgb(138, 138, 138);
  pointer-events: none;
}