.form__button {
  font-family: "Inter-Black";
  font-size: 30px;
  margin: 30px 0 0;
  color: #fff;
  background-color: #07223a;
  overflow: hidden;
  border: transparent;
}

.form__button:hover {
  opacity: .6;
  cursor: pointer;
}