@import url(./vendor/normalize.css);
@import url(./fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/nav-bar/nav-bar.css);
@import url(./blocks/nav-bar/__index/nav-bar__index.css);
@import url(./blocks/content/gallery/gallery.css);
@import url(./blocks/content/gallery/__image/gallery__image.css);
@import url(./blocks/content/gallery/__item/gallery__item.css);
@import url(./blocks/description/description.css);
@import url(./blocks/people/people.css);
@import url(./blocks/people/__addButton/people__addButton.css);
@import url(./blocks/people/__profiles/people__profiles.css);
@import url(./blocks/item/item.css);
@import url(./blocks/avatar/avatar.css);
@import url(./blocks/avatar/__photo-container/avatar__photo-container.css);
@import url(./blocks/avatar/__photo/avatar__photo.css);
@import url(./blocks/avatar/__name/avatar__name.css);
@import url(./blocks/avatar-coment/avatar-coment.css);
@import url(./blocks/avatar-coment/__text/avatar-coment__text.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_show/popup_show.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_active/popup__error_active);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__fields/form__fields.css);
@import url(./blocks/form/__heading/form__heading.css);
@import url(./blocks/form/__field/form__field.css);
@import url(./blocks/form/__label/form__label.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__Button/form__Button.css);
@import url(./blocks/content/prompt/__button/prompt__button.css);
@import url(./blocks/content/prompt/__container/prompt__container.css);
@import url(./blocks/content/prompt/__input/prompt__input.css);
@import url(./blocks/content/prompt/__subtitle/prompt__subtitle.css);
@import url(./blocks/content/prompt/__text/prompt__text.css);
@import url(./blocks/content/prompt/__title/prompt__title.css);
@import url(./blocks/content/prompt/__form/prompt__form.css);
@import url(./blocks/content/prompt/__category/prompt__category.css);
@import url(./blocks/content/prompt/prompt.css);

@font-face {
  font-family: 'Inter';
  src: url(./fonts/Inter-Regular.woff2) format("woff2"),
  url(./fonts/Inter-Regular.woff) format("woff");
}

@font-face {
  font-family: 'Inter-Black';
  src: url(./fonts/Inter-Black.woff2) format("woff2");
  src: url(./fonts/Inter-Black.woff) format("woff");
}

