.header__nav-button {
  width: 64px;
  position: relative;
  right: 40px;
  display: none;
}


@media screen and (max-width:620px){
    .header__nav-button{
        display: block;
        padding-left: 30px;
    }
}

/*
@media screen and (max-width:480px){
    .header__nav-button{
        top: 40px;
        right: 15px;
    }
}

@media screen and (max-width:420px){
    .header__nav-button{
        right: 35px;

    }
}

@media screen and (max-width:380px){
    .header__nav-button{
        right: 65px;
    }
}
*/

.header__nav-button:hover{
    opacity: .5;
}