.form__heading {
  font-family: "Inter-Black";
  font-size: 40px;
  color: #fff;
  align-self: center;
}

@media screen and (max-width: 520px) {
  .form__heading {
    font-size: 30px;
    padding-left: 15px;
  }
}