.logo {
  width: 380px;
  /* background-image: url("../../images/logo.png");
  background-repeat: no-repeat;
  background-size: cover; */
  padding: 0;
}

@media screen and (max-width: 1244px) {
  .logo {
    width: 350px;
  }
}

@media screen and (max-width: 640px) {
  .logo {
    width: 450px;
  }
}

@media screen and (max-width: 440px) {
  .logo {
    width: 400px;
  }
}

