.header__nave-button {
  width: 64px;
  position: absolute;
  right: 40px;
  display: none;
}


@media screen and (max-width:640px){
    .header__nave-button{
        display: block;
        right: 70px;
        top: 160px;

    }
}


@media screen and (max-width:520px){
    .header__nave-button{
        top:160px;
        right: 40px;
    }
}

 @media screen and (max-width:480px){
    .header__nave-button{
        right: 0px;

    }
}

 @media screen and (max-width:380px){
    .header__nave-button{
        right: -10px;
    }
} 


.header__nave-button:hover{
    opacity: .5;
} 