.header__nave-button {
  width: 64px;
  position: relative;
  right: 40px;
  display: none;
}


@media screen and (max-width:640px){
    .header__nave-button{
        display: block;
        right: 0;

    }
}


@media screen and (max-width:510px){
    .header__nave-button{
        top: 55px;
    }
}

/* @media screen and (max-width:420px){
    .header__nave-button{
        right: 35px;

    }
}

@media screen and (max-width:380px){
    .header__nave-button{
        right: 65px;
        width: 54px;
    }
}

.header__nave-button:hover{
    opacity: .5;
} */