.prompt__category {
  font-family: 'Inter-Black';
  font-weight: normal;
  font-size: 30px;
  line-height: 1.21;
  color: #fff;
  border: none;
  resize: none;
  outline: none;
  text-align: center;
  width: 100%;
  margin: 0 auto 20px;
}