.prompt__text {
  font-family: 'Inter';
  font-weight: normal;
  font-size: 20px;
  line-height: 1.21;
  color: #fff;
  border: none;
  resize: none;
  outline: none;
  text-align: center;
  margin: 0 40px 40px;
  max-width: 1000px;
}