.form__fields {
  max-width: 85%;
  border: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: transparent;
}

@media screen and (max-width: 520px) {
  .form__fields {
    width: 320px;
  }
}